@import "tailwindcss";


 
/* .nav-logo{
    color: rgb(4, 185, 4);
    background-color: black;
    
}
.logo{
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
}
.logo span{
  margin: 0;
  color: rgb(6, 207, 6);
} */
/* .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
/* .nav-links ul li{
    list-style: none;
    display: inline;
}
li a{
    
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */
/* li a:hover{
    color: rgb(3, 212, 3);
}
.active{
    color: rgb(3, 212, 3);
} */
/* button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    background-color: rgb(3, 212, 3);
    cursor: pointer;
} */


/* .home{
    display: flex;
    justify-content: space-between;
} */
/* .home-content{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */
/* .home-content p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    color: rgb(65, 64, 64);
} */
/* .home-content a button{
    margin: 0px;
} */


/* .category{
    display: flex;

} */
/* .category div{
    width: 25%;
    text-align: center;
    padding: 20px;
    border-radius: 60px;
    box-shadow: 0px 0px 0px 0px rgba(87, 87, 87, 0.164),0px 0px 20px 1px rgba(133, 133, 133, 0.329);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin-top: 50px;
} */

/* .category-discription{
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
} */

/* .category div h3{
    color: gray;
} */
/* .category div img{
    width: 100px;
    height: 100px;
    background-color: rgb(193, 241, 198);
    padding: 20px;
    border-radius: 200px;
} */



/* .standout-dish{
    display: flex;

} */
/* .standout-dish div{
   
    text-align: center;
    padding: 20px;
    border-radius: 60px;
    box-shadow: 0px 0px 0px 0px rgba(87, 87, 87, 0.164),0px 0px 20px 1px rgba(133, 133, 133, 0.329);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 40px;

} */
/* .standout-head{
  color: rgb(255, 45, 45);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 250px;
} */
/* .standout-main-head{
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
} */



/* .about{
    display: flex;
    margin-top: 200px;
} */
/* .about-content{
    width: 60%;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
} */
/* .about-content-head{
  color: rgb(255, 45, 45);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
} */
/* .about-content p{
    font-size: 16px;
    line-height: 30px;
    color: rgb(65, 64, 64);
} */
/* .about-img{
    width: 50%;
}
.about-img img{
    width: 400px;
    height: 600px;
} */



/* .footer{
    display: flex;
    padding: 150px 0 50px;
    justify-content: space-between;
} */
/* .footer-sub1 .footer-logo{
    font-size: xx-large;
    font-weight: 700;
    margin-top: 15px;
    color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} */
/* .footer-logo span{
  margin: 0;
  color: rgb(4, 179, 4);
} */
/* .footer-sub1 p{
    line-height: 30px;
    font-weight: 500;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(65, 64, 64);
}
.footer-sub a{
    text-decoration: none;
    display: block;
    line-height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(65, 64, 64);

}
.footer-sub h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
} */
/* .footer-sub a:hover{
    color: rgb(3, 212, 3);
} */